<p style="font-family:Arial; font-size:12px;">
    Hello [email_address],
</p>
<p style="font-family: Arial; font-size: 12px;">
    It looks like you asked to reset your password! Do you still want to create a new password for your Custom Declaration Printing account?
    <br />
    <br />
    Note that confirmation string expires in approximately 3 days.
    <br />
    <br />
</p>
<p style="font-family: Arial; font-size: 12px;">
    [reset_link]
    <br />
</p>
<p style="font-family: Arial; font-size: 12px;">
    If you didn't submit this request or don't want to reset your password, please ignore this email. We won't reset your password.
    <br /><br />
</p>
<p style="font-family: Arial; font-size: 12px;">
    - Columna Soft Team
</p>