<p style="font-family: Arial; font-size: 12px;">
    Hello [email_address],
</p>
<p style="font-family: Arial; font-size: 12px;">
    It looks like you asked to reset your password! Bellow you have the new password to access your account.
    <br /><br />
    New password: <strong>[new_password]</strong>
    <br />
    <br />
    Please change your password first time you log in into your account using My Settings.
    <br />
    <br />
</p>
<p style="font-family: Arial; font-size: 12px;">
    - Columna Soft Team
</p>
